/* Making sure the 'animated' element stays inline and behaves with the corresponding element. */
.underline-animation {
  position: relative;
  display: inline-block;
}

/* The animation */
.underline-animation::after {
  content: ''; /* Creating empty element. */
  position: absolute;
  width: 100%;
  transform: scaleX(0); /* Making the underline width 0 so it's invisible to us. */
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right; /* Sets the underline animation position to the other corner. */
  transition: transform 0.25s ease-out;
}

/* When cursor is hovering */
.underline-animation:hover::after {
  transform: scaleX(1); /* Width is then set to 1. */
  transform-origin: bottom left; /* Makes it so the animation starts on the left. */
}